@font-face {
    font-family: 'rubikitalic';
    src: url('/fonts/webfontkit-20250509-043858/rubik-italic.woff2') format('woff2'),
         url('/fonts/webfontkit-20250509-043858/rubik-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubiklight_italic';
    src: url('/fonts/webfontkit-20250509-043858/rubik-lightitalic.woff2') format('woff2'),
         url('/fonts/webfontkit-20250509-043858/rubik-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubikbold';
    src: url('/fonts/webfontkit-20250509-043858/rubik-bold.woff2') format('woff2'),
         url('/fonts/webfontkit-20250509-043858/rubik-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubikmedium';
    src: url('/fonts/webfontkit-20250509-043858/rubik-medium.woff2') format('woff2'),
         url('/fonts/webfontkit-20250509-043858/rubik-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubikregular';
    src: url('/fonts/webfontkit-20250509-043858/rubik-regular.woff2') format('woff2'),
         url('fonts/webfontkit-20250509-043858/rubik-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    overflow: hidden;
    /* CSS HEX */
--walnut-brown: #575149ff;
--mountbatten-pink: #7E7896ff;
--black: #050502ff;
--rose-quartz: #B1ABC1ff;
--umber: #6E5C51ff;
}

html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: var(--rose-quartz);
}

h1{
    font-family: rubikmedium, sans-serif;
    color: var(--);
}

.button_container{
    display: flex;
    width: 100%;
}

fieldset{
    background-color: var(--mountbatten-pink);
    border-radius: 5px;
    width: 700px;
    height: 200px;
}

.text_container{
    font-size: 15px;
}

h2{
    display: flex;
    justify-content: center;
}

p {
    font-family: rubikmedium;
    color: rgb(234, 241, 239);
    font-size: 20px;
}

form{
    font-family: rubikregular;
    width: 100%;
}

div.container{
    padding: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

body{
    display: flex ;
    flex-direction: horizontal;
}

.im{
    display: block;
    width: 50vh;
   height: 100vh;
   margin: 0;
   padding: 0;
}

.image_holder{
    position: relative;
    margin: 0;
    padding: 0;
}

.blackground{
position: absolute;
background-color: rgba(112, 77, 77, 0.5);
z-index: 3;
display: flex;
justify-content: center;
width: 100%;
bottom: 50%;
}

.icon{
width: 10vh;
height: 10vh;
}

button{
    border: none;
    border-radius: 10px;
    background-color: var(--mountbatten-pink);
    color: white;
    font-family: rubikbold;
    padding: 10px 10px 10px 10px;
    
}

button:hover{
    background-color: rgb(112, 78, 180);
}

button:active{
    box-shadow: 2px 2px 5px #fc894d;
}

a{
    text-decoration: none;
}

.bottom_text{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input, label {
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 5px;
}

.upper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

form:invalid{
    border-color: red;
}